.contact {
    min-height: calc(100vh - 70px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.contact p {
    text-transform: uppercase;
    font-size: 1.2rem;
}

.contact .line {
    background-color: var(--main-color);
    width: 2px;
    height: 70px;
}

.contact a {
    font-size: 4rem;
}

.contact a i {
    font-size: .8em;
    vertical-align: middle;
}