.social-networks {
    z-index: var(--z-index-3);
    /* background-color: red; */
    position: fixed;
    top: 50%;
    left: 30px;
    transform: translate(-150%, -50%);
    transition: 1s;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.social-networks a {
    /* background-color: red; */
    padding: 15px 16px;
    border: 2px solid var(--main-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    backdrop-filter: blur(10px);
    transition: .3s;
}

.social-networks a:hover {
    background-color: #414141;
}