/* ================ FOOTER ================ */
footer {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p {
    font-size: .7rem;
}