.loader_container {
    z-index: 100000000;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
    transition-delay: 1s;
}

.loader {
    border: 10px solid rgb(34, 34, 34);
    border-top: 10px solid blueviolet;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 1s linear infinite;
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}