@media screen and (max-width: 1425px) {

    .about .right .card h4 {
        font-size: 2rem;
    }

    .about .right .card p {
        font-size: 1rem;
    }

    .about .right .center {
        width: 100%;
    }
}

@media screen and (max-width: 1300px) {

    .about {
        flex-direction: column;
        align-items: center;
    }

    .about .left,
    .about .right {
        width: 100%;
    }

    .about .right {
        max-width: 80%;
        padding-bottom: 100vh;
        gap: 3rem;
    }

    .about .right .container {
        gap: 3rem;
    }
    
}

@media screen and (max-width: 750px) {

    .about .right .container {
        flex-direction: column;
    }

    .about .right .container .tech {
        width: 100%;
    }

    .about .right .card .cv {
        font-size: 1.2rem;
    }
}