.baner {
    padding: 5px 0;
    border-top: 1px solid var(--main-color);
    border-bottom: 1px solid var(--main-color);
    overflow: hidden;
}

.baner .container {
    display: flex;
    gap: .5rem;
}


.baner .container:last-child {
    transform: rotate(180deg);
}

.baner .container span {
    text-transform: uppercase;
}

.baner .container span:nth-child(even) {
    color: var(--color-text-transition);
}